# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/local-xdebuginfo.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twentytwentyfour*/
/wp-content/themes/twentytwentythree*/
/wp-content/themes/twentytwentytwo*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Assets of my theme
/wp-content/themes/ozcantadilat-two/assets/css*/
/wp-content/themes/ozcantadilat-two/assets/fontawesome*/
/wp-content/themes/ozcantadilat-two/assets/fonts*/
/wp-content/themes/ozcantadilat-two/assets/images*/
/wp-content/themes/ozcantadilat-two/assets/js/bootstrap.bundle.min.js
/wp-content/themes/ozcantadilat-two/inc/bootstrap_5_wp_nav_menu_walker.php

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes
